#smorgasbordImage {
  display: block;
  margin: 0 auto;
  max-width: 90vw;
  height: auto;
  touch-action: pinch-zoom;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

#smorgasbordImage g {
  cursor: pointer;
}

#smorgasbordImage g.board-root-node {
  cursor: default;
}

#smorgasbordImage text {
  user-select: none;
}

.board-wrap {
  position: relative;
}

